In [ ]:
"""
Projeto!

1º Importar json como DF
2º Tretar os dados levar apenas as colunas["numero_da_ocorrencia", classicacacao_da_ocorrencia, data da ocorrencia, municipio, uf, regiao, nome do fabricante 
3º Tirar acentos de nomes de colunas
4º Criar banco de dados e tabela
5º Configurar a conexão
6º enviar dados para o postgree
7º Cria um delete da tebela para não ter histórico, mantendo em banco sempre os dados mais rescente
8º retafuração de código
9º Joga depois tudo para .py
"""

In [ ]:
# 1º Importar json como DF
import json
import pandas as pd

caminho_arquivo = 'anac/V_OCORRENCIA_AMPLA.json'

df = pd.read_json(caminho_arquivo, encoding='utf-8-sig')
df.head()

In [ ]:
# 2º Tretar os dados levar apenas as colunas["numero_da_ocorrencia", classicacacao_da_ocorrencia, data da ocorrencia, municipio, uf, regiao, nome do fabricante
novo_df = df[['Numero_da_Ocorrencia', 'Classificacao_da_Ocorrência', 'Data_da_Ocorrencia', 'Municipio', 'Regiao', 'Nome_do_Fabricante']]
novo_df.head()

In [34]:
#3º Tirar acendos de nomes de colunas
import unicodedata

def remover_acentos(texto):
    if isinstance(texto, str):
        texto_normalizado = unicodedata.normalize('NFKD', texto)
        texto_sem_acento = ''.join([c for c in texto_normalizado if not unicodedata.combining(c)])
        return texto_sem_acento
    return texto

df.columns = [remover_acentos(col) for col in df.columns]

novo_df.head()

   Numero_da_Ocorrencia Classificacao_da_Ocorrência Data_da_Ocorrencia      Municipio        Regiao Nome_do_Fabricante
0                  7762                   Incidente         2018-03-21      SÃO PAULO       Sudeste             AGUSTA
1                  7759                    Acidente         2018-03-14  MONTES CLAROS       Sudeste    CESSNA AIRCRAFT
2                  7758                    Acidente         2018-01-26   INACIOLÂNDIA  Centro-Oeste    CESSNA AIRCRAFT
3                  7758                    Acidente         2018-01-26   INACIOLÂNDIA  Centro-Oeste    CESSNA AIRCRAFT
4                  7757             Incidente Grave         2018-03-18         TORRES           Sul     PIPER AIRCRAFT

In [ ]:
# 4º Criar banco de dados e tabela